INFURA_API_KEY="YOUR_INFURA_API_KEY"
WALLET_CONNECT_PROJECT_ID="YOUR_WALLET_CONNECT_PROJECT_ID"
NEXT_PUBLIC_CONTRACT_ADDRESS="DEPLOYED_CONTRACT_ADDRESS"

# Infura IPFS
INFURA_IPFS_PROJECT_ID=
INFURA_IPFS_API_SECRET_KEY=

# For local testing purposes. Read more in https://github.com/airvertise/core#development:
NEXT_PUBLIC_LOCAL_DEVELOPMENT_ENABLED=true
NEXT_PUBLIC_URL_RPC_PROVIDER="http://your_local_host:port"

# reCaptcha variables requirement
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
