
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Bahnschrift';
}

.MuiTypography-root {
    font-family: 'Bahnschrift';
}

.inputRounded .MuiOutlinedInput-root{
    border-radius: 30px;
 }

.MuiButton-root {
    border-radius: 20px;
}